.card-img-top {
    height: 200px;
    width: 200px;
    margin: 0px auto;    
}

.container {
    margin: 30px auto;
}

.card {
    background-color: whitesmoke;
    padding: 20px;
}

.btn {
    margin: 5px;
}